.navbar {
  height: 80px;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;

}

.navbar.scoll_top {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 6;
  background: rgba(255, 255, 255, .88);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-shadow: 0px 1px 6px -3px #000;
  box-shadow: 0px 1px 6px -3px #000;
}

.navbar.scoll_top .logo img {
  height: 40px;
  width: auto;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.navbar.scoll_top .navbar_link .tab {
  line-height: 60px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.index_top {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.width_limit {
  padding: 10px 0;
  width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  float: left;
  padding: 1px 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.navbar .logo img {
  margin-top: 10px;
  height: 40px;
  width: auto;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.navbar .navbar_link {
  /* width: 630px; */
  float: right;

}

.navbar .navbar_link .tab {
  line-height: 60px;
  float: left;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.navbar .navbar_link .tab a {
  display: block;
  padding: 0 33px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.navbar .navbar_link .tab a:hover,.navbar .navbar_link .tab a.active {
  color: #A42326;
}

.navbar .navbar_link .tab:last-child a {
  padding-right: 0;
}






.main {
  font-weight: bold;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
}

/* 轮播图样式 */
.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel .wrapbox {
  position: relative;
  width: 1920px;
  height: 800px;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

.carousel .head_tit {
  position: relative;
  width: 1920px;
  height: 600px;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

.carousel_box {
  position: absolute;
}

.carousel li {
  width: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

/* .carousel li {
  width: 1920px;
  float: left;

  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in;

} */

.carousel li.active {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.carousel .circle {
  position: absolute;
  text-align: center;
  bottom: 18px;
  height: 30px;
  line-height: 34px;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

.carousel .circle span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px 7px;
  border-radius: 50%;
  background-color: #999;
}

.carousel .circle span.active {
  background-color: #A42326;
}


.module1 {
  position: relative;
}

.module1 .module_img1 {
  position: absolute;
  right: 0;
  top: 12px;
  width: 429px;
  height: 268px;
}

.module1 .module_img2 {
  position: absolute;
  left: 0;
  top: 218px;
  width: 436px;
  height: 604px;
}

.module1 .module1_title {
  font-size: 0;
  color: rgba(51, 51, 51, 1);
}

.module1 .module1_title span {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -182px;
  width: 364px;
  height: 182px;
  font-size: 36px;
  padding: 40px 0 0 130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  background: url(../images/img/about_title.png) no-repeat;
}

.module1 .txt1 {
  padding-top: 332px;
  font-size: 18px;
  text-align: center;
}

.module1 .module1_about {
  margin: 49px auto 0;
  max-width: 950px;
  position: relative;
  z-index: 2;
}

.module1 .module1_about li {
  width: 110px;
  height: 382px;
  padding-top: 25px;
  margin: 0 40px;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/img/about.png) no-repeat;
  cursor: pointer;
  background-position: 0 -382px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.module1 .module1_about li:hover {
  background-position: 0 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.module1 .module1_about li .time {
  text-align: center;
  font-size: 24px;
  color: #333;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.module1 .module1_about li .txt {
  font-size: 16px;
  color: #333;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  /* margin: 8px auto 0; */
  line-height: 28px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin: 3px 0 0 27px;
}

.module1 .module1_about li:hover .time,
.module1 .module1_about li:hover .txt {
  color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear
}

.module1 .txt2 {
  /* padding-top: 332px; */
  font-size: 18px;
  text-align: center;
}

.module2 {
  position: relative;
  /* height: 900px; */
  padding-top: 80PX;
}

.module2 .module2_img1 {
  position: absolute;
  right: 0;
  top: -20px;
}

.module2_wrap {
  position: relative;
  z-index: 2;
}

.module2_wrap .title {
  font-size: 0;
  position: absolute;
  top: 339px;
  left: 0;

}

.module2_wrap .title span {
  display: block;
  width: 177px;
  height: 302px;
  background: url(../images/img/module2_title.png) no-repeat;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-size: 36px;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px 0 0 44px;

}

.module2 .module2_content1 {
  margin-left: 190px;
  width: 1010px;
  height: 420px;
  border: 1px dashed #ccc;
}

.module2 .module2_content1.content2 {
  margin-top: 50px;
}

.module2 .module2_content1 .tit {
  float: left;
  padding: 60px 47px 185px;
  border-right: linear-gradient(0deg, rgba(151, 129, 95, 1) 0%, rgba(187, 178, 158, 0) 100%);
  font-size: 20px;
  letter-spacing: 3px;
  color: #333;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  ;
  font-weight: bold;
}

.module2 .module2_content1 .border {
  float: left;
  margin-top: 60px;
  width: 2px;
  height: 310px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(151, 129, 95, 1)), to(rgba(187, 178, 158, 0)));
  background: linear-gradient(180deg, rgba(151, 129, 95, 1) 0%, rgba(187, 178, 158, 0) 100%);
}

.module2 .module2_content1 .txt1 {
  float: left;
  padding: 60px 20px 0 39px;
  height: 310px;
  width: 192px;
  font-size: 16px;
  color: #333;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";

}

.module2 .module2_content1 .txt1 span {
  color: #BD821D;
}

.module2 .module2_content1 img {
  float: left;
  margin: 78px 60px 0 70px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.module2 .module2_content1 img:last-of-type {
  margin-right: 0;
  margin-left: 0;
}

.module3 {
  position: relative;
  padding-top: 150px;
}

.module3 .module3_img1 {
  position: absolute;
  left: 0;
  top: -55px;
  width: 690px;
  height: 566px;
}

.module3 .module3_img2 {
  width: 414px;
  height: 238px;
  position: absolute;
  right: 0;
  top: 230px;
}

.module3 .module3_img4 {
  position: absolute;
  right: 0;
  bottom: -230px
}

.module3 .module3_title {
  font-size: 0;
  height: 137px;
}

.module3 .module3_title span {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -182px;
  width: 344px;
  height: 137px;
  font-size: 36px;
  padding: 34px 0 0 123px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  background: url(../images/img/module3_title.png) no-repeat;
}

.module3_wrap {
  position: relative;
  z-index: 2;
}

.module3_wrap .module3_img2 {
  position: absolute;
  width: 392px;
  height: 450px;
  left: 70px;
  top: 114px;
}

.module3_wrap .news_list {
  padding-top: 55px;
  margin-left: 510px;
}

.module3_wrap .news_list li {
  font-size: 0;
  cursor: pointer;
  margin-top: 39px;
}

.module3_wrap .news_list li:first-of-type {
  margin-top: 0;
}

.module3_wrap .news_list span {
  display: inline-block;
}

.module3_wrap .news_list .bor1 {
  float: left;
  margin: 4px 0 0 18px;
  width: 2px;
  height: 145px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(153, 153, 153, 1)), to(rgba(180, 162, 123, 0)));
  background: linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(180, 162, 123, 0) 100%);
}

.module3_wrap .news_list li:hover .bor1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 162, 123, 1)), to(rgba(180, 162, 123, 0)));
  background: linear-gradient(180deg, rgba(180, 162, 123, 1) 0%, rgba(180, 162, 123, 0) 100%);

}

.module3_wrap .news_list .bor2 {
  float: left;
  margin: 4px 24px 0 3px;
  width: 2px;
  height: 145px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(153, 153, 153, 1)), to(rgba(180, 162, 123, 0)));
  background: linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(180, 162, 123, 0) 100%);
}

.module3_wrap .news_list li:hover .bor2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(180, 162, 123, 1)), to(rgba(180, 162, 123, 0)));
  background: linear-gradient(0deg, rgba(180, 162, 123, 1) 0%, rgba(180, 162, 123, 0) 100%);

}

.module3_wrap .news_list .time {
  float: left;
  margin-top: 19px;
}

.module3_wrap .news_list .time em {
  display: block;
  color: #666;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  ;
  font-weight: bold
}

.module3_wrap .news_list li:hover .time em {
  color: #333;
}

.module3_wrap .news_list .time em.year {
  font-size: 24px;
}

.module3_wrap .news_list .time em.month {
  font-size: 16px;
}

.module3_wrap .news_list .info {
  float: left;
  font-size: 18px;
  max-width: 546px;
}

.module3_wrap .news_list .info .title {
  font-size: 20px;
  color: #666;
  padding-bottom: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.module3_wrap .news_list li:hover .info .title {
  color: #333;
}

.module3_wrap .news_list .info .content {
  font-size: 16px;
  color: #999;
  line-height: 20px;
  height: 40px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.module3_wrap .news_list li:hover .info .content {
  color: #666;
}

.module3_wrap .news_list .info .more {
  margin-top: 18px;
  display: inline-block;
  width: 97px;
  height: 55px;
  font-size: 18px;
  background: url(../images/img/more.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  line-height: 55px;
}

.module3_wrap .news_list li:hover .more {
  background: url(../images/img/more_active.png) no-repeat;
  background-size: 100% 100%;

}

.module4_wrap {
  position: relative;
  padding-top: 150px;
  z-index: 2;
}

.module4_wrap .module4_title {
  font-size: 0;
}

.module4_wrap .module4_title span {
  position: absolute;
  right: 0;
  top: 150px;
  width: 178px;
  height: 292px;
  background: url(../images/img/module4_title.png) no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 45px 0 0 80px;
  font-size: 36px;
  -webkit-writing-mode: tb-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

.module4_wrap .module4_content1 {
  margin: 20px 0 0 30px;
  width: 800px;
  height: 500px;
  border: 2px solid #ccc;
  position: relative;
}

.module4_wrap .module4_content1 .tit {
  position: absolute;
  left: -30px;
  top: 50px;
  width: 57px;
  height: 157px;
  background: url(../images/img/module4_tit.png) no-repeat;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  line-height: 57px;
  padding-top: 40px;
  font-size: 18px;
  color: #eee;
}

.module4_wrap .module4_content1 .prople {
  position: absolute;
  top: 35px;
  right: -160px;
  height: 440px;
  width: 440px;
  background: #fff;
  padding: 18px 0 0 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.module4_wrap .module4_content1 .prople .head_box {
  top: 37px;
  right: 0;
  position: absolute;
  width: 315px;
  height: 315px;
  overflow: hidden;
}

.module4_wrap .module4_content1 .prople img {
  position: absolute;
}

.module4_wrap .module4_content1 .prople img.border {
  z-index: 6;
  width: 315px;
}

.module4_wrap .module4_content1 .prople img.avatar {
  z-index: 5;
  left: -80px;
}


.module4_wrap .module4_content1 .prople .name,
.module4_wrap .module4_content1 .prople .job {
  font-size: 20px;
  color: #333;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  float: left;
  height: 110px;
  text-align: center;
}

.module4_wrap .module4_content1 .prople .bor {
  float: left;
  width: 2px;
  height: 108px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(180, 162, 123, 0)), color-stop(51%, rgba(204, 204, 204, 0.97)), to(rgba(180, 162, 123, 0)));
  background: linear-gradient(0deg, rgba(180, 162, 123, 0) 0%, rgba(204, 204, 204, 0.97) 51%, rgba(180, 162, 123, 0) 100%);
  margin: 0 15px;
}


.module4_wrap .module4_content1 .txt {
  margin: 72px 0 0 158px;
  width: 324px;
  height: 358px;
  font-size: 16px;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 26px;
}

.module4_wrap .module4_content2 {
  margin-top: 80px;
  height: 522px;
}

.module4_wrap .module4_content2 .module4_imgbox {
  position: relative;
}

.module4_wrap .module4_content2 .module4_imgbox img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
}

.module4_wrap .module4_content2 .module4_imgbox .img1 {
  left: 157px;
  z-index: 1;
}

.module4_wrap .module4_content2 .module4_imgbox .img2 {
  top: 139px;
  z-index: 2;
}

.module4_wrap .module4_content2 .module4_imgbox .img3 {
  top: 272px;
  left: 155px;
  z-index: 3;
}

.module4_wrap .module4_content2 .txt {
  padding-top: 139px;
  margin-left: 535px;
  width: 324px;
  height: 364px;
  font-size: 16px;
  color: #333;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 26px;
}

.bottom_box {
  position: relative;
  height: 399px;
  margin-top: 67px;
}

.bottom_box .bottom_img1 {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  /* right: 451px; */
}

.bottom_box .bottom_img2 {
  position: absolute;
  right: 0;
  top: -173px;
}

.bottom_box .contact_us {
  position: relative;
  z-index: 2;
  padding-top: 43px;
  /* padding-left: 359px; */
}

.bottom_box .contact_us .tit {
  font-size: 24px;
  color: #333;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  font-weight: bold;

}

.bottom_box .contact_us .tel {
  padding: 23px 0 8px;


}

.bottom_box .contact_us .tel,
.bottom_box .contact_us .address {
  color: #666;
  font-size: 16px;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  font-weight: bold;
  max-width: 330px;

}

.bottom_box .wechat_code {
  position: absolute;
  right: 164px;
  top: 33px;
  width: 124px;
  height: 163px;
}

.bottom_box .wechat_code .hint_txt {
  font-size: 16px;
  color: #666;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  font-weight: bold;
}

.bottom_box .wechat_code .code {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 2px;
  left: 2px;
  z-index: 1;
}

.bottom_box .wechat_code .code_bg {
  position: absolute;
  z-index: 2;
  width: 124px;
  height: 124px;
}

.bottom_box .case_box {
  position: relative;
  margin-top: 140px;
  z-index: 3;
  text-align: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  /* font-family: 'KaiTi_GB2312'; */
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

/* 加入我们 */
.joinbox {
  padding-top: 97px;
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
  position: relative;
  overflow: hidden;
}

.joinbox>img {
  position: absolute;
}

.joinbox .join_bg1 {
  top: 116px;
  left: 0;
  width: 402px;
  /* opacity: 0.67; */
}

.joinbox .join_bg2 {
  top: 261px;
  right: 0;
  width: 300px;
}

.joinbox .join_bg3 {
  width: 436px;
  top: 867px;
  left: 0;
}

.joinbox .join_bg4 {
  width: 449px;
  top: 1342px;
  right: 0;
}

.joinbox .join_bg5 {
  width: 435px;
  top: 1715px;
  left: 0;
}

.joinbox .join_bg6 {
  width: 466px;
  right: 0;
  top: 2390px;
}

.joinbox .join_bg7 {
  width: 627px;
  left: 0;
  top: 3339px;
}

.joinbox .join_bg8 {
  right: 0;
  width: 592px;
  top: 3637px;
}


.joinbox .join_content {
  width: 1035px;
  border: 1px dashed rgba(204, 204, 204, 1);
  position: relative;
  margin-left: 28px;
  padding: 59px 59px 60px 77px;
  margin-bottom: 50px;
  z-index: 5;
}

.joinbox .join_content .post {
  position: absolute;
  width: 57px;
  height: 214px;
  background: url(../images/img/join_post_name.png) no-repeat;
  left: -28px;
  top: 50%;
  margin-top: -132px;
  font-size: 24px;
  color: rgba(238, 238, 238, 1);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  line-height: 57px;
  text-align: center;
  padding: 10px 0 40px 0;
}

.joinbox .join_content .claim {
  float: left;
  position: relative;

}

.joinbox .join_content .claim.b2 {
  float: right;
}

.joinbox .join_content .claim .border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(151, 129, 95, 1)), to(rgba(187, 178, 158, 0)));
  background: linear-gradient(180deg, rgba(151, 129, 95, 1) 0%, rgba(187, 178, 158, 0) 100%);
  /* margin: 0 27px; */
}

.joinbox .join_content .claim .tit {
  float: left;
  font-size: 20px;
  color: #333;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  width: 30px;
}

.joinbox .join_content .claim ul {
  float: left;
  font-size: 16px;
  margin-left: 50px;
  color: #666;
}

.joinbox .join_content .claim ul.condition1 li {
  width: 432px;
}

.joinbox .join_content .claim ul.condition2 li {
  width: 375px;
}

/* .joinbox .join_content .claim .border {} */

.joinbox .email_box {
  width: 440px;
  height: 110px;
  padding-left: 31px;
  background: url(../images/img/join_email.png) no-repeat;
  line-height: 105px;
  font-size: 24px;
  color: #fff;
}


/* 新闻列表 */

.news_box {
  padding-top: 51px;
  position: relative;
  overflow: hidden;
}

.news_box .news_list {
  position: relative;
  z-index: 5;
}

.news_box>img {
  position: absolute;
}

.news_box .new_bg1 {
  left: 0;
  top: -75px;
  width: 360px;
}

.news_box .new_bg2 {
  right: 0;
  top: 1153px;
  width: 470px;
}

.news_box .news_list li {
  position: relative;
  /* cursor: pointer; */
  padding: 30px 0;
  border-bottom: 2px dashed #ccc;
}



.news_box .news_list .item_left {
  float: left;
  width: 210px;
  height: 210px;
  position: relative;
  overflow: hidden;
}

.news_box .news_list .item_left img {
  position: absolute;
}

.news_box .news_list .item_left img.img_bor {
  z-index: 6;
  width: 210px;
  height: 210px;
}

.news_box .news_list .item_left img.item_img {
  z-index: 5;
  height: 200px;
  right: 0;
}

.news_box .news_list .item_right {
  float: left;
  margin-left: 55px;
  width: 930px;
}

.news_box .news_list .item_right .time {
  font-size: 24px;
  color: #666;
}

.news_box .news_list .item_right .tit {
  font-size: 20px;
  color: #666;
  margin: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news_box .news_list .item_right .content {
  font-size: 16px;
  color: #999;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 44px;
}

.news_box .news_list .item_right .more {
  display: block;
  margin-top: 15px;
  width: 98px;
  height: 56px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 56px;
  background: url(../images/img/more.png) no-repeat;
  background-size: 100% 100%;
}

.news_box .news_list li:hover .time {
  color: #333
}

.news_box .news_list li:hover .tit {
  color: #333
}

.news_box .news_list li:hover .content {
  color: #666
}

.news_box .news_list li:hover .item_right .more {
  background: url(../images/img/more_active.png) no-repeat;
  background-size: 100% 100%;
}


/* 新闻详情页面 */
.news_details {
  padding-top: 70px;
  padding-bottom: 95px;
  overflow: hidden;
}

.news_details>img {
  position: absolute;
}

.news_details .news_details_bg1 {
  width: 402px;
  top: 446px;
  left: 0;
}

.news_details .news_details_bg2 {
  right: 0;
  width: 470px;
  top: 788px;
}

.news_details .news_details_bg3 {
  left: 0;
  width: 436px;
  top: 1418px;
}

.news_details .news_details_bg4 {
  right: 0;
  width: 448px;
  top: 2617px;

}

.news_details .news_details_bg5 {
  left: 0;
  width: 470px;
  top: 3100px;
}

.news_details .news_details_bg6 {
  right: 0;
  width: 320px;
  top: 3783px;
}

.news_details .content {
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312";
}

.news_details .content .title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.news_details .content .time {
  margin: 10px 0 40px;
  text-align: center;
  font-size: 16px;
  color: #666;
}

.news_details .content .txt {
  font-family: "KaiTi", "KaiTi_GB2312", "楷体", "楷体_GB2312" !important;
  font-size: 16px;
  color: #333;
}

.news_details .other {
  position: relative;
  z-index: 3;
  margin-top: 40px;
}

.news_details .other a {
  display: inline-block;
  font-size: 20px;
  color: #666;
}

.news_details .other a.prev {
  float: left;
}

.news_details .other a.next {
  float: right;
}

.news_details .other a:hover {
  color: #A42326;
}